header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    min-width: 0;
    padding-bottom: 8px;
    padding-top: 7px;
    position: relative;
}

aside {
    position: absolute;
    width: 20%;
    height: calc(100% - 60px);
    bottom: 0;
    background-color: blue;
    position: fixed;
    right:0;    
}

section {
    width: 100%;
    height: 200px;
    background-color: black;
}


.bars{
    display: inline-block;
    margin-left: -7px;
    height: 30px;
}
.search{
    margin: 0 40px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    flex-basis: 0%;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}
.brand-logo{
    width: 80px;
    height: 24px;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}
.icons-avatar{
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}